html,
body {
    height: 100%;
    width: 100%;
    background: #1C3144;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
}

.message-box {
    color: white;
    font-weight: bold;
    width: 600px;
    text-align: center;
}

.title {
    color: #31E981;
    font-size: 50px;
}

.message {
    font-size: 20px;
}

.mail-to {
    display: block;
    color: white;
    font-size: 18px;
}
