.alert-info {
    font-size: 20px;
    color: #f4f4f4;
}

.input-validation-error {
    border: 2px red solid;
}

.field-validation-error {
    color: firebrick;
}

.title {
    font-size: 22px;
    color: #f4f4f4;
}

.submit {
    font-size: 20px;
    color: black;
}
.flex {
    display:flex;
}
.password-checkbox {
    flex: 0;
}
.icon{
    max-width: 20px;
    max-height:20px;
}
.login-name {
    display: flex;
}