.visible-image{
    height:600px;
    max-width:600px;
}

.my-slider{
    display: flex;
    justify-content:center;
}

.previous{
    height: 570px;
    width:100px;
}
.next {
    height: 570px;
    width: 100px;
}
