<head>
    <link href="~/css/blockedPage" rel="stylesheet" type="text/css">
</head>

<div class="container">
  <div class="row">
     <div class="message-box">
       <h1 class="title">Ooops! Website Blocked!</h1>
       <p class="message">The requested website is blocked because it's content is either unsafe or non work related. If you need access to the website click below.</p>
       <a href="#" class="mail-to">Request access to website</a>
    </div>
  </div>
</div>