<div class="bgded" style="background-image:url('../images/demo/backgrounds/02.jpg');">
    <div class="wrapper">
        <article id="pageintro" class="hoc clear">

            <div class="transbox">
                <h3 class="heading">Приветствие заполнить в момент добавления локализации</h3>
                <p> Общая информация о сайте</p>
            </div>
            <footer>
                <a class="btn" href="/User/Registration">Registration</a>
            </footer>
        </article>
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">

        <article class="group">
            <div class="one_quarter first">
                <p class="font-xs">Обзац</p> 
                <h6 class="heading">Заголовок</h6> 
            </div>
            <div class="three_quarter">
                <p>Тексит</p>
                <p class="btmspace-30">Новый абзац [...]</p>
                <footer><a class="btn" href="#">Read More </a></footer>
            </div>
        </article>

        <div class="clear"></div>
    </main>
</div>

<div class="wrapper bgded overlay" style="background-image: url('../images/demo/backgrounds/02.jpg');">
    <section class="hoc container clear">

        <div class="sectiontitle">
            <h6 class="heading">Заголовок</h6>
            <p>Подзаголовок</p>
        </div>
        <ul class="nospace group elements">
            <li class="one_third first">
                <article>
                    <a href="Ссылка на страницу "><i class="fa fa-chain-broken"></i></a>
                    <h6 class="heading">Текст заголовка</h6>
                    <p>Подробнее [...]</p>
                    <footer><a href="Ссылка">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-ambulance"></i></a>
                    <h6 class="heading">Текст заголовка</h6>
                    <p>Подробнее [...]</p>
                    <footer><a href="Ссылка">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-area-chart"></i></a>
                    <h6 class="heading">Текст заголовка</h6>
                    <p>Подробнее [...]</p>
                    <footer><a href="Ссылка">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third first">
                <article>
                    <a href="#"><i class="fa fa-clock-o"></i></a>
                    <h6 class="heading">Текст заголовка</h6>
                    <p>Подробнее [...]</p>
                    <footer><a href="Ссылка">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-gamepad"></i></a>
                    <h6 class="heading">Текст заголовка</h6>
                    <p>Подробнее [...]</p>
                    <footer><a href="Ссылка">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-thumbs-up"></i></a>
                    <h6 class="heading">Текст заголовка</h6>
                    <p>Подробнее [...]</p>
                    <footer><a href="Ссылка">View Details &raquo;</a></footer>
                </article>
            </li>
        </ul>

    </section>
</div>