@model List<PictureViewModel>
<html lang="">
<head>
    <title>@Graduate_work.Localize.language.Layout_title | @Graduate_work.Localize.language.Layout_dropdown | @Graduate_work.Localize.language.Layout_gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/pagination.css" rel="stylesheet" type="text/css">
    <link href="~/css/slyder.css" rel="stylesheet" type="text/css">
    <script src="~/js/slider.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body id="top">
    <div class="slider-my-good"> 
    </div>
</body>
</html>